.row
  .columns.small-9
    %h1 Public Shopping Lists
  .columns.small-3= link_to 'New Shopping List', new_shopping_list_path, class: 'button new_link'

- @shopping_lists.reverse.each do |shopping_list|
  =link_to shopping_list do
    .row
      .shopping_list.list_entry.list_link=shopping_list.title

%br

