.row
  .columns.small-12.medium-9
    %h1 Public Shopping Lists
  .columns.small-12.medium-3= link_to 'New Shopping List', new_shopping_list_path, class: 'button new_link'
.row
  .columns.small-10.small-centered
    .border
      Public shopping lists can be created and viewed by everyone.
      -unless current_user
        If you would like to create a private list, please sign in or register.
=render 'shopping_lists'

%br

