%p#notice= notice

.row
  %h1= @shopping_list.title
.row
  .columns.small-1.recipes Recipes:
  .columns.small-11
    - @shopping_list.recipes.each do |recipe|
      .columns=link_to recipe.url, recipe.url
.row.ingredients_list
  -@ingredient_list.each do |ingredient|
    .row
      .ingredient=ingredient

= link_to 'Back', shopping_lists_path
