%p#notice= notice

%p
  %b Title:
  = @shopping_list.title
.row
  .columns.small-2 Using:
  .columns.small-10
    - @shopping_list.recipes.each do |recipe|
      .columns=link_to recipe.url, recipe.url
.row
  %h2 Shopping List
.row
  -@ingredient_list.each do |ingredient|
    .row
      .columns.small-1=ingredient.amount
      .columns.small-2=ingredient.unit
      .columns.small-9=ingredient.ingredient

= link_to 'Back', shopping_lists_path
