%p#notice= notice

%p
  %b Title:
  = @shopping_list.title
.row
  - @shopping_list.recipes.each do |recipe|
    -parsed = parsed_recipe recipe.url
    -ingredients = parse_ingredients parsed.ingredients
    .row
      %h4=parsed.name
    .row
      =parsed.description
    .row
      -ingredients.each do |ingredient|
        .row
          .columns.small-1=ingredient.amount
          .columns.small-2=ingredient.unit
          .columns.small-9=ingredient.ingredient


= link_to 'Edit', edit_shopping_list_path(@shopping_list)
\|
= link_to 'Back', shopping_lists_path
