// Place all the styles related to the shopping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#add_recipe{
  color: green;
  hover {
    color: red;
  }
}

.ingredient{
  font-family: 'Armata', sans-serif;
  margin-top: .75em;
  border-bottom: 1px #CCC solid;
}
.ingredients_list{
  padding-top: 1em;
}

.recipes{
  font-size: 1.4em;
}