%nav.top-bar{'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1=link_to 'Home', my_lists_path
  %section.top-bar-section
    %ul.right
      %li=link_to 'Public Lists', root_path
      %li.has-dropdown
        =link_to current_user.email, '#'
        %ul.dropdown
          %li
            =link_to 'Edit User', edit_user_registration_path
          %li
            =link_to 'Sign Out', destroy_user_session_path, :method => :delete if current_user